navbar{
    background-color: white;
}

.nav-link{
    color:black;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: blueviolet;
}

.main{
    background: url(/imgs/marc_profpic-removebg.png);
    background-size:cover;
    background-position: top;
    width: 60%;
    height: 100vh;
}
