navbar{
    background-color: white;
}

.nav-link{
    color:black;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: blueviolet;
}

.main{
    width: 60%;
    height: 100vh;
}
